<!DOCTYPE html>
<html lang="en">

<head>
<link rel="apple-touch-icon" sizes="57x57" href="./icon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="./icon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="./icon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="./icon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="./icon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="./icon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="./icon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="./icon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="./icon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="./icon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="./icon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="./icon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="./icon/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ekomuzej</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/htmx.org@2.0.0" integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw" crossorigin="anonymous"></script>
    <!-- <script src="./htmx.js"></script> -->
</head>

<body>
    <header>
    </header>
    <div class="c" id="top">
    <main class="container" id="main">
        <p class="title">Ekomuzej</p>
        <div class="veleb">
            <img src="velebit_z.jpg" height="300">
        </div>                                  
         <div class="box" hx-get="./plates/zel11.html" hx-trigger="mouseenter once" hx-target="#zel11" hx-swap="innerHTML" data-target-id="zel11">start &#x27A1;
        <div id="zel11" class="box green"></div></div>
        <div class="box" hx-get="./plates/zel12.html" hx-trigger="mouseenter once" hx-target="#zel12" hx-swap="innerHTML" data-target-id="zel12">
        <div id="zel12" class="box green"></div></div>
        <div class="box" hx-get="./plates/zel13.html" hx-trigger="mouseenter once" hx-target="#zel13" hx-swap="innerHTML" data-target-id="zel13"></div>
        <div id="zel13" class="box green"></div>
        <div class="box" hx-get="./plates/zel14.html" hx-trigger="mouseenter once" hx-target="#zel14" hx-swap="innerHTML" data-target-id="zel14"></div>
        <div id="zel14" class="box green"></div>
        <div class="box" hx-get="./plates/zel15.html" hx-trigger="mouseenter once" hx-target="#zel15" hx-swap="innerHTML" data-target-id="zel15"></div>
        <div id="zel15" class="box green"></div>
        <div class="box" hx-get="./plates/zel21.html" hx-trigger="mouseenter once" hx-target="#zel21" hx-swap="innerHTML" data-target-id="zel21"></div>
        <div id="zel21" class="box green"></div>
        <div class="box" hx-get="./plates/zel22.html" hx-trigger="mouseenter once" hx-target="#zel22" hx-swap="innerHTML" data-target-id="zel22"></div>
        <div id="zel22" class="box green"></div>
        <div class="box" hx-get="./plates/zel23.html" hx-trigger="mouseenter once" hx-target="#zel23" hx-swap="innerHTML" data-target-id="zel23"></div>
        <div id="zel23" class="box green"></div>
        <div class="box" hx-get="./plates/zel24.html" hx-trigger="mouseenter once" hx-target="#zel24" hx-swap="innerHTML" data-target-id="zel24"></div>
        <div id="zel24" class="box green"></div>
        <div class="box" hx-get="./plates/zel25.html" hx-trigger="mouseenter once" hx-target="#zel25" hx-swap="innerHTML" data-target-id="zel25"></div>
        <div id="zel25" class="box green"></div>
        <div class="box" hx-get="./plates/tr55.html" hx-trigger="mouseenter once" hx-target="#tr55" hx-swap="innerHTML" data-target-id="tr55"></div>
        <div id="tr55" class="box green"></div>    
        <div class="box" hx-get="./plates/tr55.html" hx-trigger="mouseenter once" hx-swap="outerHTML"></div>
            <div class="box" hx-get="./plates/tr55.html" hx-trigger="mouseenter once" hx-swap="outerHTML"></div>
            <div class="box" hx-get="./plates/tr55.html" hx-trigger="mouseenter once" hx-swap="outerHTML"></div>
            <div class="box" hx-get="./plates/tr55.html" hx-trigger="mouseenter once" hx-swap="outerHTML"></div>
            <div class="box" hx-get="./plates/tr55.html" hx-trigger="mouseenter once" hx-swap="outerHTML"></div>
            <div class="box" hx-get="./plates/tr55.html" hx-trigger="mouseenter once" hx-swap="outerHTML"></div>
            <div class="box" hx-get="./plates/tr55.html" hx-trigger="mouseenter once" hx-swap="outerHTML"></div>          
            <div class="box" hx-get="./plates/tr55.html" hx-trigger="mouseenter once" hx-swap="outerHTML"></div>
            <div class="box" hx-get="./plates/tr55.html" hx-trigger="mouseenter once" hx-swap="outerHTML"></div>            
            <div class="box" hx-get="./plates/tr55.html" hx-trigger="mouseenter once" hx-swap="outerHTML"></div>
            <div class="box" hx-get="./plates/tr55.html" hx-trigger="mouseenter once" hx-swap="outerHTML"></div>
            <div class="box" hx-get="./plates/tr55.html" hx-trigger="mouseenter once" hx-swap="outerHTML"></div>
            <div class="box" hx-get="./plates/tr55.html" hx-trigger="mouseenter once" hx-swap="outerHTML"></div>
            <div class="box" hx-get="./plates/tr55.html" hx-trigger="mouseenter once" hx-swap="outerHTML"></div>
            </main>
    </div>
    <footer class="fut">
        <!-- <div>
        <p>cookies & &#x2117; </p>
    </div> -->
 </footer>
 <script>
    document.addEventListener("DOMContentLoaded", function () {
        const boxes = document.querySelectorAll(".box");

        boxes.forEach(box => {
            box.addEventListener("mouseenter", function () {
                const targetId = this.getAttribute("data-target-id");
                const targetElement = document.getElementById(targetId);
                if (targetElement) {
                    targetElement.classList.add("visible");
                }
            });
       
            box.addEventListener("click", function () {
                    const pjat = document.querySelector(".pjat");
                    if (pjat) {
                        pjat.style.display = 'block';
                    }
                });      });
    });
</script>
</body>
</html>